﻿body {
}

@for $i from 0 through 10 {
    .p-#{$i*5} {
        padding: #{$i*5}px;
    }

    .p-l-#{$i*5} {
        padding-left: #{$i*5}px;
    }

    .p-r-#{$i*5} {
        padding-right: #{$i*5}px;
    }

    .p-t-#{$i*5} {
        padding-top: #{$i*5}px;
    }

    .p-b-#{$i*5} {
        padding-bottom: #{$i*5}px;
    }

    .p-l-r-#{$i*5} {
        padding-left: #{$i*5}px;
        padding-right: #{$i*5}px;
    }

    .p-t-b-#{$i*5} {
        padding-top: #{$i*5}px;
        padding-bottom: #{$i*5}px;
    }
}

@for $i from 1 through 10 {

    .f-#{$i*100} {
        font-weight: #{$i*100} !important;
    }
}

@for $i from 0 through 10 {
    .m-#{$i*5} {
        margin: #{$i*5}px;
    }

    .m-l-#{$i*5} {
        margin-left: #{$i*5}px;
    }

    .m-r-#{$i*5} {
        margin-right: #{$i*5}px;
    }

    .m-t-#{$i*5} {
        margin-top: #{$i*5}px;
    }

    .m-b-#{$i*5} {
        margin-bottom: #{$i*5}px;
    }

    .m-l-r-#{$i*5} {
        margin-left: #{$i*5}px;
        margin-right: #{$i*5}px;
    }

    .m-t-b-#{$i*5} {
        margin-top: #{$i*5}px;
        margin-bottom: #{$i*5}px;
    }
}

.text-left.custom-align {
    text-align: left;
}

.alert {
    z-index: 10000 !important;
}

.growl-animated.alert-info {
    background: rgb(33, 150, 243);
    box-shadow: 0 0 5px rgba(33, 150, 243, 0.5);
}

.growl-animated.alert-success {
    background: rgb(76, 175, 80);
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}

.growl-animated.alert-warning {
    background: rgb(255, 152, 0);
    box-shadow: 0 0 5px rgba(255, 152, 0, 0.5);
}

.growl-animated.alert-danger {
    background: rgb(244, 67, 54);
    box-shadow: 0 0 5px rgba(244, 67, 54, 0.5);
}

.content-detail label.field {
    min-height: 18px;
}

.zone {
    vertical-align: top;
    display: inline-block;


    &.image-zone {
        width: 29%;
    }

    &.content-zone {
        width: 69%;

        .form-group {
            margin-bottom: 20px;
        }
    }

    &.picker-zone {
        width: 34%;
        padding: 15px;
        overflow-y: hidden;
        overflow-x: auto;

        .picker {
            padding: 5px 15px;
            border: 1px solid #f3f3f3;
            margin-bottom: 5px;
            cursor: pointer;

            &.active {
                background-color: #2196f3 !important;
            }
        }
    }

    &.form-zone {
        width: 64%;
    }
}

.image-zone {
    text-align: center;

    .image-control {
        height: 200px;
        position: relative;
        padding: 0;

        .image-container {
            width: 200px;
            height: 200px;
            display: block;
        }

        .commands {
            display: none;
            position: absolute;
            height: 20px;
            top: 100px;
            width: 100%;
            text-align: center;
            z-index: 1000;

            .btn {
                cursor: pointer;
            }
        }

        &:hover .commands {
            display: block;
            -webkit-font-smoothing: antialiased;
        }
    }
}

#story-picker.picker-zone {
    height: 300px;
    margin-right: 1%;

    .picker {
        height: 50px;
        position: relative;

        label {
            display: block;
            margin-bottom: 0;
        }

        button {
            position: absolute;
            right: 10px;
            top: 15px;
        }
    }
}

#family-picker.picker-zone {
    height: 350px;
    margin-right: 1%;

    .picker {
        height: 60px;
        position: relative;

        label {
            margin-bottom: 0;
            display: inline-block;
            vertical-align: top;
        }

        button {
            position: absolute;
            right: 10px;
            top: 18px;
        }

        .index {
            position: absolute;
            top: 10px;
            left: 5px;
            border-radius: 50px;
            background: #f3f3f3;
            color: #000;
            padding: 2px;
            padding-left: 4px;
            padding-right: 4px;

            &:before {
                content: "#";
            }
        }

        .fullname {
            font-size: 18px;
            display: block;
            margin-left: 25px;
        }

        .dob {
            margin-left: 20px;
            font-weight: 100;

            &:before {
                content: "[ ";
            }

            &:after {
                content: " ]";
            }
        }

        .relationship {
            margin-left: 25px;
        }
    }
}

a.btn-icon {
    line-height: 40px;
}

.la-ball-fall,
.la-ball-fall > div {
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.la-ball-fall {
    display: block;
    font-size: 0;
    color: #fff;
}

.la-ball-fall.la-dark {
    color: #333;
}

.la-ball-fall > div {
    display: inline-block;
    float: none;
    background-color: currentColor;
    border: 0 solid currentColor;
}

.la-ball-fall {
    width: 54px;
    height: 18px;
}

.la-ball-fall > div {
    width: 10px;
    height: 10px;
    margin: 4px;
    border-radius: 100%;
    opacity: 0;
    -webkit-animation: ball-fall 1s ease-in-out infinite;
    -moz-animation: ball-fall 1s ease-in-out infinite;
    -o-animation: ball-fall 1s ease-in-out infinite;
    animation: ball-fall 1s ease-in-out infinite;
}

.la-ball-fall > div:nth-child(1) {
    -webkit-animation-delay: -200ms;
    -moz-animation-delay: -200ms;
    -o-animation-delay: -200ms;
    animation-delay: -200ms;
}

.la-ball-fall > div:nth-child(2) {
    -webkit-animation-delay: -100ms;
    -moz-animation-delay: -100ms;
    -o-animation-delay: -100ms;
    animation-delay: -100ms;
}

.la-ball-fall > div:nth-child(3) {
    -webkit-animation-delay: 0ms;
    -moz-animation-delay: 0ms;
    -o-animation-delay: 0ms;
    animation-delay: 0ms;
}

.la-ball-fall.la-sm {
    width: 26px;
    height: 8px;
}

.la-ball-fall.la-sm > div {
    width: 4px;
    height: 4px;
    margin: 2px;
}

.la-ball-fall.la-2x {
    width: 108px;
    height: 36px;
}

.la-ball-fall.la-2x > div {
    width: 20px;
    height: 20px;
    margin: 8px;
}

.la-ball-fall.la-3x {
    width: 162px;
    height: 54px;
}

.la-ball-fall.la-3x > div {
    width: 30px;
    height: 30px;
    margin: 12px;
}

.waiting-block {
    width: 80%;
    height: 30px;
    margin-left: 10%;
    position: relative;
    margin-top: 15px;

    .la-ball-fall {
        position: absolute;
        top: 6px;
        width: 100%;
    }
}

.z-1000, div.z-1000 {
    z-index: 1000;
    position: relative;
}

/*
 * Animation
 */
@-webkit-keyframes ball-fall {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-145%);
        transform: translateY(-145%);
    }

    10% {
        opacity: .5;
    }

    20% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    80% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    90% {
        opacity: .5;
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(145%);
        transform: translateY(145%);
    }
}

@-moz-keyframes ball-fall {
    0% {
        opacity: 0;
        -moz-transform: translateY(-145%);
        transform: translateY(-145%);
    }

    10% {
        opacity: .5;
    }

    20% {
        opacity: 1;
        -moz-transform: translateY(0);
        transform: translateY(0);
    }

    80% {
        opacity: 1;
        -moz-transform: translateY(0);
        transform: translateY(0);
    }

    90% {
        opacity: .5;
    }

    100% {
        opacity: 0;
        -moz-transform: translateY(145%);
        transform: translateY(145%);
    }
}

@-o-keyframes ball-fall {
    0% {
        opacity: 0;
        -o-transform: translateY(-145%);
        transform: translateY(-145%);
    }

    10% {
        opacity: .5;
    }

    20% {
        opacity: 1;
        -o-transform: translateY(0);
        transform: translateY(0);
    }

    80% {
        opacity: 1;
        -o-transform: translateY(0);
        transform: translateY(0);
    }

    90% {
        opacity: .5;
    }

    100% {
        opacity: 0;
        -o-transform: translateY(145%);
        transform: translateY(145%);
    }
}

@keyframes ball-fall {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-145%);
        -moz-transform: translateY(-145%);
        -o-transform: translateY(-145%);
        transform: translateY(-145%);
    }

    10% {
        opacity: .5;
    }

    20% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }

    80% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }

    90% {
        opacity: .5;
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(145%);
        -moz-transform: translateY(145%);
        -o-transform: translateY(145%);
        transform: translateY(145%);
    }
}


.block-header {
    h2 {
        height: 25px;
        line-height: 30px;

        .command {
            float: right;
        }

        .command-l {
            float: left;
        }
    }
}

.clearfix-form {
    .form-group {
        &:before {
            content: " ";
            display: table;
        }

        &:after {
            content: " ";
            display: table;
            clear: both;
        }
    }
}

.form-group {
    margin-bottom: 10px;
}

.bootgrid-header {
    .actions > button {
        border: 1px solid #e0e0e0;
        height: 37px;
    }
}

.account-status {
    min-width: 110px;
    height: 30px;

    &[data-command="deactivate-user"] {
        &:after {
            content: 'Bình thường';
        }
    }

    &[data-command="activate-user"] {
        &:after {
            content: 'Tạm khóa';
        }
    }
}

@media (max-width: 350px) {
    .hidden-xxs {
        display: none;
    }
}

@media (max-width: 480px) {
    .block-header {
        h2 {
            height: auto;
        }
    }

    .account-status {
        min-width: 50px;
        height: 30px;
        font: normal normal normal 14px/1 'Material Design Iconic Font';
        font-size: inherit;
        speak: none;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;

        &[data-command="deactivate-user"] {
            &:after {
                content: "\f042";
            }
        }

        &[data-command="activate-user"] {
            &:after {
                content: "\f043";
            }
        }
    }

    .bootgrid-table th > .column-header-anchor > .text {
        margin-right: 15px;
    }

    .bootgrid-header .search {
        display: block;
    }
}

@media (max-width: 522px) {
    .bootgrid-header .actions {
        position: absolute;
        top: 0;
        right: 15px;
    }
}

.text-form {
    .form-group {
        & > label {
            text-align: right;
            font-weight: 800;
        }

        .fg-line > label {
            text-align: left;
            font-weight: 400;
        }
    }
}

.block-header > h2 {
    font-size: 28px;
}
