﻿@charset "UTF-8";
.p-0 {
  padding: 0px; }

.p-l-0 {
  padding-left: 0px; }

.p-r-0 {
  padding-right: 0px; }

.p-t-0 {
  padding-top: 0px; }

.p-b-0 {
  padding-bottom: 0px; }

.p-l-r-0 {
  padding-left: 0px;
  padding-right: 0px; }

.p-t-b-0 {
  padding-top: 0px;
  padding-bottom: 0px; }

.p-5 {
  padding: 5px; }

.p-l-5 {
  padding-left: 5px; }

.p-r-5 {
  padding-right: 5px; }

.p-t-5 {
  padding-top: 5px; }

.p-b-5 {
  padding-bottom: 5px; }

.p-l-r-5 {
  padding-left: 5px;
  padding-right: 5px; }

.p-t-b-5 {
  padding-top: 5px;
  padding-bottom: 5px; }

.p-10 {
  padding: 10px; }

.p-l-10 {
  padding-left: 10px; }

.p-r-10 {
  padding-right: 10px; }

.p-t-10 {
  padding-top: 10px; }

.p-b-10 {
  padding-bottom: 10px; }

.p-l-r-10 {
  padding-left: 10px;
  padding-right: 10px; }

.p-t-b-10 {
  padding-top: 10px;
  padding-bottom: 10px; }

.p-15 {
  padding: 15px; }

.p-l-15 {
  padding-left: 15px; }

.p-r-15 {
  padding-right: 15px; }

.p-t-15 {
  padding-top: 15px; }

.p-b-15 {
  padding-bottom: 15px; }

.p-l-r-15 {
  padding-left: 15px;
  padding-right: 15px; }

.p-t-b-15 {
  padding-top: 15px;
  padding-bottom: 15px; }

.p-20 {
  padding: 20px; }

.p-l-20 {
  padding-left: 20px; }

.p-r-20 {
  padding-right: 20px; }

.p-t-20 {
  padding-top: 20px; }

.p-b-20 {
  padding-bottom: 20px; }

.p-l-r-20 {
  padding-left: 20px;
  padding-right: 20px; }

.p-t-b-20 {
  padding-top: 20px;
  padding-bottom: 20px; }

.p-25 {
  padding: 25px; }

.p-l-25 {
  padding-left: 25px; }

.p-r-25 {
  padding-right: 25px; }

.p-t-25 {
  padding-top: 25px; }

.p-b-25 {
  padding-bottom: 25px; }

.p-l-r-25 {
  padding-left: 25px;
  padding-right: 25px; }

.p-t-b-25 {
  padding-top: 25px;
  padding-bottom: 25px; }

.p-30 {
  padding: 30px; }

.p-l-30 {
  padding-left: 30px; }

.p-r-30 {
  padding-right: 30px; }

.p-t-30 {
  padding-top: 30px; }

.p-b-30 {
  padding-bottom: 30px; }

.p-l-r-30 {
  padding-left: 30px;
  padding-right: 30px; }

.p-t-b-30 {
  padding-top: 30px;
  padding-bottom: 30px; }

.p-35 {
  padding: 35px; }

.p-l-35 {
  padding-left: 35px; }

.p-r-35 {
  padding-right: 35px; }

.p-t-35 {
  padding-top: 35px; }

.p-b-35 {
  padding-bottom: 35px; }

.p-l-r-35 {
  padding-left: 35px;
  padding-right: 35px; }

.p-t-b-35 {
  padding-top: 35px;
  padding-bottom: 35px; }

.p-40 {
  padding: 40px; }

.p-l-40 {
  padding-left: 40px; }

.p-r-40 {
  padding-right: 40px; }

.p-t-40 {
  padding-top: 40px; }

.p-b-40 {
  padding-bottom: 40px; }

.p-l-r-40 {
  padding-left: 40px;
  padding-right: 40px; }

.p-t-b-40 {
  padding-top: 40px;
  padding-bottom: 40px; }

.p-45 {
  padding: 45px; }

.p-l-45 {
  padding-left: 45px; }

.p-r-45 {
  padding-right: 45px; }

.p-t-45 {
  padding-top: 45px; }

.p-b-45 {
  padding-bottom: 45px; }

.p-l-r-45 {
  padding-left: 45px;
  padding-right: 45px; }

.p-t-b-45 {
  padding-top: 45px;
  padding-bottom: 45px; }

.p-50 {
  padding: 50px; }

.p-l-50 {
  padding-left: 50px; }

.p-r-50 {
  padding-right: 50px; }

.p-t-50 {
  padding-top: 50px; }

.p-b-50 {
  padding-bottom: 50px; }

.p-l-r-50 {
  padding-left: 50px;
  padding-right: 50px; }

.p-t-b-50 {
  padding-top: 50px;
  padding-bottom: 50px; }

.f-100 {
  font-weight: 100 !important; }

.f-200 {
  font-weight: 200 !important; }

.f-300 {
  font-weight: 300 !important; }

.f-400 {
  font-weight: 400 !important; }

.f-500 {
  font-weight: 500 !important; }

.f-600 {
  font-weight: 600 !important; }

.f-700 {
  font-weight: 700 !important; }

.f-800 {
  font-weight: 800 !important; }

.f-900 {
  font-weight: 900 !important; }

.f-1000 {
  font-weight: 1000 !important; }

.m-0 {
  margin: 0px; }

.m-l-0 {
  margin-left: 0px; }

.m-r-0 {
  margin-right: 0px; }

.m-t-0 {
  margin-top: 0px; }

.m-b-0 {
  margin-bottom: 0px; }

.m-l-r-0 {
  margin-left: 0px;
  margin-right: 0px; }

.m-t-b-0 {
  margin-top: 0px;
  margin-bottom: 0px; }

.m-5 {
  margin: 5px; }

.m-l-5 {
  margin-left: 5px; }

.m-r-5 {
  margin-right: 5px; }

.m-t-5 {
  margin-top: 5px; }

.m-b-5 {
  margin-bottom: 5px; }

.m-l-r-5 {
  margin-left: 5px;
  margin-right: 5px; }

.m-t-b-5 {
  margin-top: 5px;
  margin-bottom: 5px; }

.m-10 {
  margin: 10px; }

.m-l-10 {
  margin-left: 10px; }

.m-r-10 {
  margin-right: 10px; }

.m-t-10 {
  margin-top: 10px; }

.m-b-10 {
  margin-bottom: 10px; }

.m-l-r-10 {
  margin-left: 10px;
  margin-right: 10px; }

.m-t-b-10 {
  margin-top: 10px;
  margin-bottom: 10px; }

.m-15 {
  margin: 15px; }

.m-l-15 {
  margin-left: 15px; }

.m-r-15 {
  margin-right: 15px; }

.m-t-15 {
  margin-top: 15px; }

.m-b-15 {
  margin-bottom: 15px; }

.m-l-r-15 {
  margin-left: 15px;
  margin-right: 15px; }

.m-t-b-15 {
  margin-top: 15px;
  margin-bottom: 15px; }

.m-20 {
  margin: 20px; }

.m-l-20 {
  margin-left: 20px; }

.m-r-20 {
  margin-right: 20px; }

.m-t-20 {
  margin-top: 20px; }

.m-b-20 {
  margin-bottom: 20px; }

.m-l-r-20 {
  margin-left: 20px;
  margin-right: 20px; }

.m-t-b-20 {
  margin-top: 20px;
  margin-bottom: 20px; }

.m-25 {
  margin: 25px; }

.m-l-25 {
  margin-left: 25px; }

.m-r-25 {
  margin-right: 25px; }

.m-t-25 {
  margin-top: 25px; }

.m-b-25 {
  margin-bottom: 25px; }

.m-l-r-25 {
  margin-left: 25px;
  margin-right: 25px; }

.m-t-b-25 {
  margin-top: 25px;
  margin-bottom: 25px; }

.m-30 {
  margin: 30px; }

.m-l-30 {
  margin-left: 30px; }

.m-r-30 {
  margin-right: 30px; }

.m-t-30 {
  margin-top: 30px; }

.m-b-30 {
  margin-bottom: 30px; }

.m-l-r-30 {
  margin-left: 30px;
  margin-right: 30px; }

.m-t-b-30 {
  margin-top: 30px;
  margin-bottom: 30px; }

.m-35 {
  margin: 35px; }

.m-l-35 {
  margin-left: 35px; }

.m-r-35 {
  margin-right: 35px; }

.m-t-35 {
  margin-top: 35px; }

.m-b-35 {
  margin-bottom: 35px; }

.m-l-r-35 {
  margin-left: 35px;
  margin-right: 35px; }

.m-t-b-35 {
  margin-top: 35px;
  margin-bottom: 35px; }

.m-40 {
  margin: 40px; }

.m-l-40 {
  margin-left: 40px; }

.m-r-40 {
  margin-right: 40px; }

.m-t-40 {
  margin-top: 40px; }

.m-b-40 {
  margin-bottom: 40px; }

.m-l-r-40 {
  margin-left: 40px;
  margin-right: 40px; }

.m-t-b-40 {
  margin-top: 40px;
  margin-bottom: 40px; }

.m-45 {
  margin: 45px; }

.m-l-45 {
  margin-left: 45px; }

.m-r-45 {
  margin-right: 45px; }

.m-t-45 {
  margin-top: 45px; }

.m-b-45 {
  margin-bottom: 45px; }

.m-l-r-45 {
  margin-left: 45px;
  margin-right: 45px; }

.m-t-b-45 {
  margin-top: 45px;
  margin-bottom: 45px; }

.m-50 {
  margin: 50px; }

.m-l-50 {
  margin-left: 50px; }

.m-r-50 {
  margin-right: 50px; }

.m-t-50 {
  margin-top: 50px; }

.m-b-50 {
  margin-bottom: 50px; }

.m-l-r-50 {
  margin-left: 50px;
  margin-right: 50px; }

.m-t-b-50 {
  margin-top: 50px;
  margin-bottom: 50px; }

.text-left.custom-align {
  text-align: left; }

.alert {
  z-index: 10000 !important; }

.growl-animated.alert-info {
  background: #2196f3;
  box-shadow: 0 0 5px rgba(33, 150, 243, 0.5); }

.growl-animated.alert-success {
  background: #4caf50;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.5); }

.growl-animated.alert-warning {
  background: #ff9800;
  box-shadow: 0 0 5px rgba(255, 152, 0, 0.5); }

.growl-animated.alert-danger {
  background: #f44336;
  box-shadow: 0 0 5px rgba(244, 67, 54, 0.5); }

.content-detail label.field {
  min-height: 18px; }

.zone {
  vertical-align: top;
  display: inline-block; }
  .zone.image-zone {
    width: 29%; }
  .zone.content-zone {
    width: 69%; }
    .zone.content-zone .form-group {
      margin-bottom: 20px; }
  .zone.picker-zone {
    width: 34%;
    padding: 15px;
    overflow-y: hidden;
    overflow-x: auto; }
    .zone.picker-zone .picker {
      padding: 5px 15px;
      border: 1px solid #f3f3f3;
      margin-bottom: 5px;
      cursor: pointer; }
      .zone.picker-zone .picker.active {
        background-color: #2196f3 !important; }
  .zone.form-zone {
    width: 64%; }

.image-zone {
  text-align: center; }
  .image-zone .image-control {
    height: 200px;
    position: relative;
    padding: 0; }
    .image-zone .image-control .image-container {
      width: 200px;
      height: 200px;
      display: block; }
    .image-zone .image-control .commands {
      display: none;
      position: absolute;
      height: 20px;
      top: 100px;
      width: 100%;
      text-align: center;
      z-index: 1000; }
      .image-zone .image-control .commands .btn {
        cursor: pointer; }
    .image-zone .image-control:hover .commands {
      display: block;
      -webkit-font-smoothing: antialiased; }

#story-picker.picker-zone {
  height: 300px;
  margin-right: 1%; }
  #story-picker.picker-zone .picker {
    height: 50px;
    position: relative; }
    #story-picker.picker-zone .picker label {
      display: block;
      margin-bottom: 0; }
    #story-picker.picker-zone .picker button {
      position: absolute;
      right: 10px;
      top: 15px; }

#family-picker.picker-zone {
  height: 350px;
  margin-right: 1%; }
  #family-picker.picker-zone .picker {
    height: 60px;
    position: relative; }
    #family-picker.picker-zone .picker label {
      margin-bottom: 0;
      display: inline-block;
      vertical-align: top; }
    #family-picker.picker-zone .picker button {
      position: absolute;
      right: 10px;
      top: 18px; }
    #family-picker.picker-zone .picker .index {
      position: absolute;
      top: 10px;
      left: 5px;
      border-radius: 50px;
      background: #f3f3f3;
      color: #000;
      padding: 2px;
      padding-left: 4px;
      padding-right: 4px; }
      #family-picker.picker-zone .picker .index:before {
        content: "#"; }
    #family-picker.picker-zone .picker .fullname {
      font-size: 18px;
      display: block;
      margin-left: 25px; }
    #family-picker.picker-zone .picker .dob {
      margin-left: 20px;
      font-weight: 100; }
      #family-picker.picker-zone .picker .dob:before {
        content: "[ "; }
      #family-picker.picker-zone .picker .dob:after {
        content: " ]"; }
    #family-picker.picker-zone .picker .relationship {
      margin-left: 25px; }

a.btn-icon {
  line-height: 40px; }

.la-ball-fall,
.la-ball-fall > div {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.la-ball-fall {
  display: block;
  font-size: 0;
  color: #fff; }

.la-ball-fall.la-dark {
  color: #333; }

.la-ball-fall > div {
  display: inline-block;
  float: none;
  background-color: currentColor;
  border: 0 solid currentColor; }

.la-ball-fall {
  width: 54px;
  height: 18px; }

.la-ball-fall > div {
  width: 10px;
  height: 10px;
  margin: 4px;
  border-radius: 100%;
  opacity: 0;
  -webkit-animation: ball-fall 1s ease-in-out infinite;
  -moz-animation: ball-fall 1s ease-in-out infinite;
  -o-animation: ball-fall 1s ease-in-out infinite;
  animation: ball-fall 1s ease-in-out infinite; }

.la-ball-fall > div:nth-child(1) {
  -webkit-animation-delay: -200ms;
  -moz-animation-delay: -200ms;
  -o-animation-delay: -200ms;
  animation-delay: -200ms; }

.la-ball-fall > div:nth-child(2) {
  -webkit-animation-delay: -100ms;
  -moz-animation-delay: -100ms;
  -o-animation-delay: -100ms;
  animation-delay: -100ms; }

.la-ball-fall > div:nth-child(3) {
  -webkit-animation-delay: 0ms;
  -moz-animation-delay: 0ms;
  -o-animation-delay: 0ms;
  animation-delay: 0ms; }

.la-ball-fall.la-sm {
  width: 26px;
  height: 8px; }

.la-ball-fall.la-sm > div {
  width: 4px;
  height: 4px;
  margin: 2px; }

.la-ball-fall.la-2x {
  width: 108px;
  height: 36px; }

.la-ball-fall.la-2x > div {
  width: 20px;
  height: 20px;
  margin: 8px; }

.la-ball-fall.la-3x {
  width: 162px;
  height: 54px; }

.la-ball-fall.la-3x > div {
  width: 30px;
  height: 30px;
  margin: 12px; }

.waiting-block {
  width: 80%;
  height: 30px;
  margin-left: 10%;
  position: relative;
  margin-top: 15px; }
  .waiting-block .la-ball-fall {
    position: absolute;
    top: 6px;
    width: 100%; }

.z-1000, div.z-1000 {
  z-index: 1000;
  position: relative; }

/*
 * Animation
 */
@-webkit-keyframes ball-fall {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-145%);
    transform: translateY(-145%); }
  10% {
    opacity: .5; }
  20% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  80% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  90% {
    opacity: .5; }
  100% {
    opacity: 0;
    -webkit-transform: translateY(145%);
    transform: translateY(145%); } }

@-moz-keyframes ball-fall {
  0% {
    opacity: 0;
    -moz-transform: translateY(-145%);
    transform: translateY(-145%); }
  10% {
    opacity: .5; }
  20% {
    opacity: 1;
    -moz-transform: translateY(0);
    transform: translateY(0); }
  80% {
    opacity: 1;
    -moz-transform: translateY(0);
    transform: translateY(0); }
  90% {
    opacity: .5; }
  100% {
    opacity: 0;
    -moz-transform: translateY(145%);
    transform: translateY(145%); } }

@-o-keyframes ball-fall {
  0% {
    opacity: 0;
    -o-transform: translateY(-145%);
    transform: translateY(-145%); }
  10% {
    opacity: .5; }
  20% {
    opacity: 1;
    -o-transform: translateY(0);
    transform: translateY(0); }
  80% {
    opacity: 1;
    -o-transform: translateY(0);
    transform: translateY(0); }
  90% {
    opacity: .5; }
  100% {
    opacity: 0;
    -o-transform: translateY(145%);
    transform: translateY(145%); } }

@keyframes ball-fall {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-145%);
    -moz-transform: translateY(-145%);
    -o-transform: translateY(-145%);
    transform: translateY(-145%); }
  10% {
    opacity: .5; }
  20% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); }
  80% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); }
  90% {
    opacity: .5; }
  100% {
    opacity: 0;
    -webkit-transform: translateY(145%);
    -moz-transform: translateY(145%);
    -o-transform: translateY(145%);
    transform: translateY(145%); } }

.block-header h2 {
  height: 25px;
  line-height: 30px; }
  .block-header h2 .command {
    float: right; }
  .block-header h2 .command-l {
    float: left; }

.clearfix-form .form-group:before {
  content: " ";
  display: table; }

.clearfix-form .form-group:after {
  content: " ";
  display: table;
  clear: both; }

.form-group {
  margin-bottom: 10px; }

.bootgrid-header .actions > button {
  border: 1px solid #e0e0e0;
  height: 37px; }

.account-status {
  min-width: 110px;
  height: 30px; }
  .account-status[data-command="deactivate-user"]:after {
    content: 'Bình thường'; }
  .account-status[data-command="activate-user"]:after {
    content: 'Tạm khóa'; }

@media (max-width: 350px) {
  .hidden-xxs {
    display: none; } }

@media (max-width: 480px) {
  .block-header h2 {
    height: auto; }
  .account-status {
    min-width: 50px;
    height: 30px;
    font: normal normal normal 14px/1 'Material Design Iconic Font';
    font-size: inherit;
    speak: none;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased; }
    .account-status[data-command="deactivate-user"]:after {
      content: "\f042"; }
    .account-status[data-command="activate-user"]:after {
      content: "\f043"; }
  .bootgrid-table th > .column-header-anchor > .text {
    margin-right: 15px; }
  .bootgrid-header .search {
    display: block; } }

@media (max-width: 522px) {
  .bootgrid-header .actions {
    position: absolute;
    top: 0;
    right: 15px; } }

.text-form .form-group > label {
  text-align: right;
  font-weight: 800; }

.text-form .form-group .fg-line > label {
  text-align: left;
  font-weight: 400; }

.block-header > h2 {
  font-size: 28px; }

