﻿@{
    Layout = null;
}
<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie9"><![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    <!-- Vendor CSS -->
    @Styles.Render("~/Content/VendorCss")

    <!-- CSS -->
    @Styles.Render("~/Content/AppCss")
    @RenderSection("styles", false)

</head>
<body class="toggled sw-toggled p-b-0" ng-app="hmsApp" data-page-code="@(ViewBag.PageCode)">
    <header id="header">
        <ul class="header-inner">
            <li id="menu-trigger" data-trigger="#sidebar">
                <div class="line-wrap">
                    <div class="line top"></div>
                    <div class="line center"></div>
                    <div class="line bottom"></div>
                </div>
            </li>

            <li class="logo hidden-xs">
                <a href="@Url.Action("Index","Home")">Hệ thống quản lý quy trình tuyển dụng IPM</a>
            </li>

            <li class="pull-right">
                <ul class="top-menu"></ul>
            </li>
        </ul>

    </header>

    <section id="main">
        <aside id="sidebar">
            <div class="sidebar-inner c-overflow">
                @Html.Partial("_Profile")
                @Html.Partial("_Sidebar")
            </div>
        </aside>

        <section id="content">
            <div class="container">
                @RenderBody()
            </div>
        </section>
    </section>
    @RenderSection("modals", false)
    @Html.Partial("_Template")

    <!-- Javascript Libraries -->
    @Scripts.Render("~/Content/JavascriptLibraries")
    @Scripts.Render("~/Script/JqueryUI")

    <!-- Placeholder for IE9 -->
    <!--[if IE 9 ]>
        <script src="vendors/bower_components/jquery-placeholder/jquery.placeholder.min.js"></script>
    <![endif]-->

    <script src="@Url.Content("~/Content/js/functions.js")"></script>
    @RenderSection("scripts", false)


</body>

</html>