﻿
<div class="profile-menu">
    <a href="#">
        <div class="profile-pic">
            <img src="@Url.Content("~/Content/img/profile-pics/4.jpg")" alt="">
        </div>
        <div class="profile-info">
            @User.Identity.Name

            <i class="md md-arrow-drop-down"></i>
        </div>
    </a>
    <ul class="main-menu">
        <li>
            <a href="@Url.Action("ChangePassword","Account")"><i class="md md-settings"></i> Đổi mật khẩu</a>
        </li>
        <li>
            @using (Html.BeginForm("Logoff", "Account"))
            {
                @Html.AntiForgeryToken();
                <button><i class="md md-history"></i> Đăng xuất</button>
            }
        </li>
    </ul>
</div>
