﻿
<template id="growl-template">
    <div data-growl="container" class="alert" role="alert">
        <button type="button" class="close" data-growl="dismiss">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
        </button>
        <span data-growl="icon"></span>
        <span data-growl="title"></span>
        <span data-growl="message"></span>
        <a href="#" data-growl="url"></a>
    </div>
</template>
<template id="specification-editor-template">
    <label for="inputEmail3" class="col-sm-12 control-label text-left custom-align m-b-5"
           ng-serialize-to="SpecificationString" ng-source="SpecificationObject">Thông số</label>
    <div class="col-sm-12 m-b-5" ng-repeat="specification in SpecificationObject">
        <div class="col-xs-5">
            <div class="fg-line">
                <input type="text" class="form-control input-sm"
                       ng-model="specification.Key"
                       placeholder="Tên thông số. Vd: dài, rộng,...">
            </div>
        </div>
        <div class="col-xs-5">
            <div class="fg-line">
                <input type="text" class="form-control input-sm"
                       ng-model="specification.Value" placeholder="Giá trị. Vd: 10m, 3 người">
            </div>
        </div>
        <div class="col-xs-2  m-t-5">
            <button class="btn btn-danger btn-sm" ng-click="removeSpecification(specification)">
                <i class="md md-clear"></i>
            </button>
        </div>
    </div>
    <div class="col-sm-12">
        <button class="btn btn-primary btn-block" ng-click="addNewSpecification()">
            <i class="md md-add-box"></i> Thêm thông tin
        </button>
    </div>
</template>
<template id="form-text-input-template">
    <div class="form-group" ng-class="getAdditionalClass()">
        <label class="col-sm-{{labelColumn}} c-black f-700 m-t-5">{{ModelDisplay}}</label>
        <div class="col-sm-{{12 - labelColumn}}" ng-switch="Type">
            <div class="fg-line" ng-switch-when="textarea">
                <textarea class="form-control input-sm" rows="4"
                          ng-class="additionalClass"
                          ng-model="$parent.model"
                          placeholder="{{ModelPlaceholder}}"></textarea>
            </div>
            <div class="fg-line" ng-switch-when="textbox">
                <input class="form-control input-sm"
                       ng-class="additionalClass"
                       ng-model="$parent.model"
                       type="{{Struct}}"
                       placeholder="{{ModelPlaceholder}}">
            </div>
            <div class="select {{hideFine?'':'fg-line'}}" ng-switch-when="select">
                <select class="form-control input-sm"
                        ng-class="additionalClass"
                        ng-model="$parent.model"
                        placeholder="{{ModelPlaceholder}}">
                    <option value="">Chưa được chọn</option>
                    <option ng-repeat="opt in options" value="{{opt.Key}}">{{opt.Value}}</option>
                </select>
            </div>
            <small class="help-block">{{getValidation()}}</small>
        </div>
    </div>
</template>
<template id="form-text-input-vertical-template">
    <p class="c-black f-700 m-t-5 m-b-5">{{ModelDisplay}}</p>
    <div class="form-group" ng-class="getAdditionalClass()" ng-switch="Type">
        <div class="fg-line" ng-switch-when="textarea">
            <textarea class="form-control auto-size" rows="2"
                      ng-class="additionalClass"
                      ng-model="$parent.model"
                      placeholder="{{ModelPlaceholder}}"></textarea>
        </div>
        <div class="fg-line" ng-switch-when="textbox">
            <input class="form-control"
                   ng-class="additionalClass"
                   ng-model="$parent.model"
                   type="{{Struct}}"
                   placeholder="{{ModelPlaceholder}}">
        </div>
        <div class="select {{hideFine?'':'fg-line'}}" ng-switch-when="select">
            <select class="form-control"
                    ng-class="additionalClass"
                    ng-model="$parent.model"
                    placeholder="{{ModelPlaceholder}}">
                <option value="">Chưa được chọn</option>
                <option ng-repeat="opt in options" value="{{opt.Key}}">{{opt.Value}}</option>
            </select>
        </div>
        <small class="help-block">{{getValidation()}}</small>
    </div>
</template>
<template id="waiting-bar">
    <div class="waiting-block bgm-blue text-center">
        <div class="la-ball-fall">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</template>