﻿@using IPM.Web.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = null;
}
<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie9"><![endif]-->
<!-- Mirrored from 192.185.228.226/projects/ma/v1-4-1/jQuery/login.html by HTTrack Website Copier/3.x [XR&CO'2013], Mon, 10 Aug 2015 03:59:06 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Interview Process Management</title>
    @Styles.Render("~/bundle/login-style")
</head>

<body class="login-content">
    <!-- Login -->
    <div class="lc-block toggled" id="l-login">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <input type="hidden" name="returnUrl" value="@ViewBag.ReturnUrl" />
            <div class="input-group m-b-20">
                <span class="input-group-addon"><i class="md md-person"></i></span>
                <div class="fg-line">
                    @Html.TextBoxFor(a => a.Username, new { @class = "form-control", placeholder = "Username" })
                </div>
            </div>

            <div class="input-group m-b-20">
                <span class="input-group-addon"><i class="md md-accessibility"></i></span>
                <div class="fg-line">
                    <input type="password" name="@Html.NameFor(a=>a.Password)" class="form-control" placeholder="Password">
                </div>
            </div>

            <div class="clearfix">
                <small class="text-danger">@Html.ValidationSummary()</small>
            </div>

            <div class="checkbox">
                <label>
                    @Html.CheckBoxFor(a => a.RememberMe)
                    <i class="input-helper"></i>
                    Keep me signed in
                </label>
            </div>

            <button href="#" class="btn btn-login btn-danger btn-float"><i class="md md-arrow-forward"></i></button>

        }
    </div>

    <!-- Older IE warning message -->
    <!--[if lt IE 9]>
        <div class="ie-warning">
            <h1 class="c-white">Warning!!</h1>
            <p>You are using an outdated version of Internet Explorer, please upgrade <br/>to any of the following web browsers to access this website.</p>
            <div class="iew-container">
                <ul class="iew-download">
                    <li>
                        <a href="http://www.google.com/chrome/">
                            <img src="img/browsers/chrome.png" alt="">
                            <div>Chrome</div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.mozilla.org/en-US/firefox/new/">
                            <img src="img/browsers/firefox.png" alt="">
                            <div>Firefox</div>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.opera.com">
                            <img src="img/browsers/opera.png" alt="">
                            <div>Opera</div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.apple.com/safari/">
                            <img src="img/browsers/safari.png" alt="">
                            <div>Safari</div>
                        </a>
                    </li>
                    <li>
                        <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                            <img src="img/browsers/ie.png" alt="">
                            <div>IE (New)</div>
                        </a>
                    </li>
                </ul>
            </div>
            <p>Sorry for the inconvenience!</p>
        </div>
    <![endif]-->
    <!-- Javascript Libraries -->
    @Scripts.Render("~/bundle/login-script")

    <!-- Placeholder for IE9 -->
    <!--[if IE 9 ]>
        <script src="/Content/vendors/bower_components/jquery-placeholder/jquery.placeholder.min.js"></script>
    <![endif]-->

    <script src=""></script>

</body>
<!-- Mirrored from 192.185.228.226/projects/ma/v1-4-1/jQuery/login.html by HTTrack Website Copier/3.x [XR&CO'2013], Mon, 10 Aug 2015 03:59:06 GMT -->
</html>