﻿@model UserEditViewModel
<!--Begin create user modal-->
<div class="modal" id="create-user-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Tạo tài khoản</h4>
            </div>
            <div class="modal-body clearfix-form">
                @using (Html.BeginForm("CreateUser", "User", FormMethod.Post, new { id = "create-user-form", @class = "form-horizontal" }))
                {

                <!--Username input-->
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-4 control-label">Tên đăng nhập: </label>
                        <div class="col-sm-8">
                            <div class="fg-line">
                                @Html.TextBoxFor(a => a.UserName, new { @class = "form-control input-sm", placeholder = "Vd: nguyenvanb" })
                            </div>
                            @Html.IpmValidationMessageFor(a => a.UserName)
                        </div>
                    </div>
                <!--Password input-->
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-4 control-label">Mật khẩu: </label>
                        <div class="col-sm-8">
                            <div class="fg-line">
                                @Html.PasswordFor(a => a.Password, new { @class = "form-control input-sm", placeholder = "Mật khẩu" })
                            </div>
                            @Html.IpmValidationMessageFor(a => a.Password)
                        </div>
                    </div>
                <!--Confirm password input-->
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-4 control-label">Xác nhận mật khẩu: </label>
                        <div class="col-sm-8">
                            <div class="fg-line">
                                @Html.PasswordFor(a => a.ConfirmPassword, new { @class = "form-control input-sm", placeholder = "Xác nhận mật khẩu" })
                            </div>
                            @Html.IpmValidationMessageFor(a => a.ConfirmPassword)
                        </div>
                    </div>
                <!--Fullname input-->
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-4 control-label">Họ & tên: </label>
                        <div class="col-sm-8">
                            <div class="fg-line">
                                @Html.TextBoxFor(a => a.Fullname, new { @class = "form-control input-sm", placeholder = "Vd: Nguyễn Văn A" })
                            </div>
                            @Html.IpmValidationMessageFor(a => a.Fullname)
                        </div>
                    </div>
                <!--Email input-->
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-4 control-label">Email: </label>
                        <div class="col-sm-8">
                            <div class="fg-line">
                                @Html.TextBoxFor(a => a.Email, new { @class = "form-control input-sm", placeholder = "Vd: a.nguyen@email.com" })
                            </div>
                            @Html.IpmValidationMessageFor(a => a.Email)
                        </div>
                    </div>
                <!--Role input-->
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-4 control-label">Vai trò: </label>
                        <div class="col-sm-8">
                            <div class="checkbox m-b-15">
                                <label>
                                    <input type="checkbox" name="IsHRRole" value="true">
                                    <i class="input-helper"></i>
                                    HR
                                </label>
                            </div>
                            <div class="checkbox m-b-15">
                                <label>
                                    <input type="checkbox" name="IsInterviewerRole" value="true">
                                    <i class="input-helper"></i>
                                    Phỏng vấn viên
                                </label>
                            </div>
                            @Html.IpmValidationMessage("Role")
                        </div>
                    </div>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link" id="submit-new-user">Tạo tài khoản</button>
                <button type="button" class="btn btn-link" data-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>
