﻿<!--Begin update user modal-->
<div class="modal" id="update-user-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Update tài khoản</h4>
            </div>
            <div class="modal-body clearfix-form">
                @using (Html.BeginForm("UpdateUser", "User", FormMethod.Post, new { id = "update-user-form", @class = "form-horizontal" }))
                {

                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link" id="submit-update-user">Lưu</button>
                <button type="button" class="btn btn-link" data-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>
