﻿
@{
    ViewBag.Title = "Index";
}


<div class="block-header">
    <h2 class="clearfix">
        Danh sách tài khoản
        <button class="btn btn-success command" id="btn-create-user">Tạo tài khoản</button>
    </h2>

</div>
<input type="hidden" id="change-status-url" value="@Url.Action("ChangeUserStatus", "User")" />
<input type="hidden" id="update-user-url" value="@Url.Action("UpdateUser", "User")" />
<div class="card p-t-15">
    <div class="table-responsive">
        <table id="users-table" class="table table-striped table-vmiddle" data-url="@Url.Action("UserList", "User")">
            <thead>
                <tr>
                    <th data-column-id="No"
                        data-css-class="hidden-xxs"
                        data-header-css-class="hidden-xxs"
                        data-sortable="false">#</th>
                    <th data-column-id="UserName">Tên đăng nhập</th>
                    <th data-column-id="Fullname"
                        data-css-class="hidden-xs"
                        data-header-css-class="hidden-xs">Họ & tên</th>
                    <th data-column-id="Email"
                        data-css-class="hidden-xs"
                        data-header-css-class="hidden-xs"
                        data-sortable="false">Email</th>
                    <th data-column-id="Active"
                        data-formatter="status"
                        data-header-css-class="200-xs">Tình trạng</th>
                    <th data-formatter="commands"></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
<template id="user-status-buttons-template">
    <div>
        <button class="btn btn-success account-status" data-command="deactivate-user"></button>
        <button class="btn btn-danger account-status" data-command="activate-user"></button>
    </div>
</template>
<template id="table-command-buttons-template">
    <div>
        <button class="btn btn-primary" data-command="update-user">Sửa</button>
    </div>
</template>
<template id="table-filter-template">
    <div class="search form-group">
        <div class="input-group">
            <span class="md icon input-group-addon glyphicon-search">
            </span>
            <input type="text" class="search-field form-control" placeholder="Tìm kiếm">
        </div>
    </div>
</template>

@Html.Partial("_CreateUserModal", null)
@Html.Partial("_UpdateUserModal")
@section scripts{
    @Scripts.Render("~/bundle/manage-user")
}