﻿@model UserEditViewModel
@Html.HiddenFor(a => a.Id)
<!--Username input-->
<div class="form-group">
    <label for="inputEmail3" class="col-sm-4 control-label">Tên đăng nhập: </label>
    <div class="col-sm-8">
        <div class="fg-line">
            <label class="form-control input-sm">@Model.UserName</label>
        </div>
    </div>
</div>
<!--Fullname input-->
<div class="form-group">
    <label for="inputEmail3" class="col-sm-4 control-label">Họ & tên: </label>
    <div class="col-sm-8">
        <div class="fg-line">
            @Html.TextBoxFor(a => a.Fullname, new { @class = "form-control input-sm", placeholder = "Vd: Nguyễn Văn A" })
        </div>
        @Html.IpmValidationMessageFor(a => a.Fullname)
    </div>
</div>
<!--Email input-->
<div class="form-group">
    <label for="inputEmail3" class="col-sm-4 control-label">Email: </label>
    <div class="col-sm-8">
        <div class="fg-line">
            @Html.TextBoxFor(a => a.Email, new { @class = "form-control input-sm", placeholder = "Vd: a.nguyen@email.com" })
        </div>
        @Html.IpmValidationMessageFor(a => a.Email)
    </div>
</div>
<!--Role input-->
<div class="form-group">
    <label for="inputEmail3" class="col-sm-4 control-label">Vai trò: </label>
    <div class="col-sm-8">
        <div class="checkbox m-b-15">
            <label>
                <input type="checkbox" @(Model.IsHrRole ? "checked" : "") name="IsHRRole" value="true">
                <i class="input-helper"></i>
                HR
            </label>
        </div>
        <div class="checkbox m-b-15">
            <label>
                <input type="checkbox" @(Model.IsInterviewerRole ? "checked" : "") name="IsInterviewerRole" value="true">
                <i class="input-helper"></i>
                Phỏng vấn viên
            </label>
        </div>
        @Html.IpmValidationMessage("Role")
    </div>
</div>
<hr />
<!--Password input-->
<div class="form-group">
    <label for="inputEmail3" class="col-sm-4 control-label">Mật khẩu mới: </label>
    <div class="col-sm-8">
        <div class="fg-line">
            @Html.PasswordFor(a => a.Password, new { @class = "form-control input-sm", placeholder = "Mật khẩu mới" })
        </div>
        @Html.IpmValidationMessageFor(a => a.Password)
    </div>
</div>
<!--Confirm password input-->
<div class="form-group">
    <label for="inputEmail3" class="col-sm-4 control-label">Xác nhận mật khẩu mới: </label>
    <div class="col-sm-8">
        <div class="fg-line">
            @Html.PasswordFor(a => a.ConfirmPassword, new { @class = "form-control input-sm", placeholder = "Xác nhận mật khẩu mới" })
        </div>
        @Html.IpmValidationMessageFor(a => a.ConfirmPassword)
    </div>
</div>